:root {
  /* --- Brand Colors --- */
  --color-primary-bg: #033f88;
  --color-primary-text: #f7fcff;
  --color-accent-gray: #53565a;

  /* --- Message/Log Colors --- */
  --color-message-success: #339900;
  --color-message-warning: #ffcc00;
  --color-message-error: #cc3300;
  --color-message-info-okay: #99cc33;
  --color-message-info-warn: #ff9966;
}

/****************************************************************************************
************************************ GLOBAL *****************************************
****************************************************************************************/
.main .buttonsbar button {
  margin-bottom: 20px;
}

button:focus {
  border-radius: 3px;
}

h2.pagetitle,
.pagetitle {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-shadow: none;
}

.header-links {
  text-decoration: none;
  padding: 0px 10px;
}

.header-links a {
  text-decoration: none;
}

/*** Max width on all pages except the Division / Catalog pages ***/
.shipping,
.billing,
.review,
.done,
.customer-service,
.profile,
.basket-view,
.view-order,
.shiptrack_view2,
.waitingorders {
  max-width: 800px !important;
  margin: 20px auto 0 !important;
}

.message-block {
  text-align: center;
}

.req_fld {
  color: red;
}

.form-body th,
.tabular th,
.form-body div.title {
  font-size: 14px;
}

.footer {
  padding: 15px 10px 0px !important;
  width: auto !important;
  background-color: var(--color-primary-bg);
}

/****************************************************************************************
************************************** INDEX ******************************************
****************************************************************************************/

.index-container {
  margin: 20px 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

/****************************************************************************************
********************************* CATALOG ******************************************
****************************************************************************************/

.select-items .vertical-shell {
  margin-left: 10px !important;
}

.select-items .image-container img {
  margin: 10px 0;
}

.select-items .longname *,
.select-items .longname * {
  font-size: 14px;
}

.select-items .pagetitle {
  margin-left: 10px !important;
}

.select-items .buttonsbar button {
  margin-bottom: 20px;
}

.responsive_tabs-shell .after {
  margin-top: 20px !important;
}

#basket-list-title {
  text-align: center;
  font-size: 20px;
  /*        color: #0061df; */
  /*        border-bottom: 2px solid #0061df; */
  margin-bottom: 10px;
}

.basket-list-item {
  margin-bottom: 10px !important;
}

.basket-list-item .button {
  padding: 1px 1px 1px 5px !important;
}

#basket_button_container {
  text-align: center;
}

#submit_catalog_add {
  margin-top: 5px;
}

#copy4 {
  display: none;
}

.bundle_subitem_preview img {
  border: 1px solid #808080;
}

.qtyspec_label {
  margin-left: 5px !important;
}

/****************************************************************************************
************************* QUOTES/SIDE BY SIDE **********************************
****************************************************************************************/

.buttonsbar,
.form-body {
  border-radius: 0px !important;
}

#estimate-item-container {
  padding: 20px 0;
}

.submit.center button {
  margin-bottom: 20px !important;
}

#all_options,
#all_options_container {
  border: none !important;
}

.fileSpec {
  position: relative;
  left: 10px;
}

.form-subheader {
  text-align: left !important;
}

#approval_checkbox_group input * {
  width: 100px;
  height: auto;
}

.uploadIcon {
  margin-top: 5px !important;
}

div#confirm_container button {
  margin-top: 20px !important;
}

.checkbox-table {
  margin-left: 0 !important;
}

/****************************************************************************************
******************************* MAIL MERGE ****************************************
****************************************************************************************/

.mail-merge header {
  margin-left: 25px;
}

.mail-merge nav.submit {
  padding-bottom: 30px !important;
}

#listimp-s3-section-5 div {
  margin-left: 25px;
}

div.error {
  margin-bottom: 10px;
}

#ml-handle-link {
  margin-left: 25px;
}

.personal-list-actions {
  text-align: center !important;
}

form[name="clientlist"] div:last-child {
  padding: 20px 20px !important;
}

/****************************************************************************************
****************************** BASKET VIEW ****************************************
****************************************************************************************/

.basket-view td.previewcell {
  background-color: transparent !important;
}

.basket-view .buttonsbar button {
  margin-bottom: 20px;
}

table:not(.items-table) {
  width: auto;
  margin: 0 auto;
}

/****************************************************************************************
***************************** DELIVERY METHODS ********************************
****************************************************************************************/

tr.dpt--headerRow,
tr.dpt--headerRow span,
tr.dpt--headerRow *,
tr.item_row * {
  font-size: 14px !important;
}

#i-dropship {
  position: relative;
  font-size: 14px;
  color: #00000a;
  font-family: "Lucida Sans", "Trebuchet MS", "Arial";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: normal;
  padding: 4px 10px 4px 10px;
  border: 1px solid #cccccc;
  -moz-border-radius: 0em;
  -webkit-border-radius: 0em;
  border-radius: 0em;
  background: #ffffff;
  background: linear-gradient(#ffffff, #cccccc);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#cccccc)
  );
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#CCCCCC');
  -pie-background: linear-gradient(#ffffff, #cccccc);
  position: relative;
  behavior: url(../hub/css/PIE.htc);
}

.mail-merge .buttonsbar,
.mail-merge .buttonsbar a,
.mail-merge .buttonsbar a:link,
.mail-merge .buttonsbar * {
  text-decoration: none !important;
  text-align: center !important;
}

.mail-merge .buttonsbar {
  margin-bottom: 10px;
}

tr.dpt--finalizeRow td.dpt--status {
  border-bottom: 0px !important;
}

/****************************************************************************************
*********************************** SHIPPING ****************************************
****************************************************************************************/

.mail-merge .pagetitle {
  margin-left: 15px !important;
}

#see_shipping_methods {
  position: relative;
  font-size: 14px;
  color: #00000a;
  font-family: "Lucida Sans", "Trebuchet MS", "Arial";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: normal;
  padding: 4px 10px 4px 10px;
  border: 1px solid #cccccc;
  -moz-border-radius: 0em;
  -webkit-border-radius: 0em;
  border-radius: 0em;
  background: #ffffff;
  background: linear-gradient(#ffffff, #cccccc);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#cccccc)
  );
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#CCCCCC');
  -pie-background: linear-gradient(#ffffff, #cccccc);
  position: relative;
  behavior: url(../hub/css/PIE.htc);
  max-width: 150px;
  text-shadow: none !important;
}

.mail-merge .field-note {
  display: none !important; /*can't do much better without source change*/
}

.mail-merge #throbber {
  margin-bottom: 20px !important;
}

.mail-merge .field-container * {
  color: #333333 !important;
}

label[for="comments"] {
  position: relative;
  bottom: 12px;
}

.shipping .form-body {
  width: 80%;
}

form[action="shiptrack.cgi"] {
  padding-bottom: 25px !important;
}

/* header css for final approve order */
/* Added from apartmentservices 4/8/2025 */
td.label:has(> span#bill\.billcode10label) {
  white-space: nowrap;
}
span.standout {
  text-shadow: 1px 1px 1px rgb(125 125 125 / 75%) !important;
}
p.approve_order {
  font-size: 1.25em !important;
  padding: 15px;
  /*background-color: #EEE;*/
  border-radius: 0.35em;
  -webkit-box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 20%),
    0 3px 6px rgb(0 0 0 / 7%);
  -moz-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 3px 6px rgba(0, 0, 0, 0.04);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255),
    0 3px 6px rgb(0 0 0 / 40%);
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
}
p.approve_order_text {
  font-size: 1.15em !important;
  padding: 15px;
  /*font-weight: normal !important;*/
  /*background-color: #EEE;*/
  border-radius: 0.35em;
  -webkit-box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 20%),
    0 3px 6px rgb(0 0 0 / 7%);
  -moz-box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 3px 6px rgba(0, 0, 0, 0.04);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255),
    0 3px 6px rgb(0 0 0 / 40%);
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
}

/****************************************************************************************
************************************** BILLING ****************************************
****************************************************************************************/

.billing .buttonsbar button {
  margin-bottom: 20px;
}

.billing * {
  font-size: 14px !important;
}

.billing .form-body {
  width: 100%;
  margin: 0 auto 20px;
}

/****************************************************************************************
************************************** REVIEW ***************************************
****************************************************************************************/

.review .buttonsbar button {
  margin-bottom: 20px;
}

.review .pageinstructions {
  font-size: 14px;
}

.review * {
  font-size: 14px !important;
}

.review td.data {
  background-color: #eeeeee;
}

.review div {
  margin: 0 10px;
}

.main p {
  margin-left: 10px;
}

.accept-proofs table {
  width: 80%;
  margin-bottom: 20px;
}

/****************************************************************************************
************************************ ACCEPT *****************************************
****************************************************************************************/

.done div * {
  font-size: 14px;
}

.done td.data {
  background-color: #eeeeee;
}

.done .accept-proofs .form-body {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 80%;
}

.done .accept-msg {
  margin: 0 5px;
}

.catalog--container .pagetitle {
  margin-top: 10px !important;
}

.accept-showneworderbutton {
  margin: 20px auto !important;
}

.accept-proofs b {
  margin-left: 20px;
  margin-top: 10px;
  line-height: 30px;
}

.previewcell a span {
  position: relative;
  font-size: 14px;
  color: #00000a;
  font-family: "Lucida Sans", "Trebuchet MS", "Arial";
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: normal;
  padding: 4px 10px 4px 10px;
  border: 1px solid #cccccc;
  -moz-border-radius: 0em;
  -webkit-border-radius: 0em;
  border-radius: 0em;
  background: #ffffff;
  background: linear-gradient(#ffffff, #cccccc);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#cccccc)
  );
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -ms-linear-gradient(#ffffff, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFFFFF', endColorstr='#CCCCCC');
  -pie-background: linear-gradient(#ffffff, #cccccc);
  position: relative;
  behavior: url(../hub/css/PIE.htc);
  margin: 5px 20px;
}

.previewcell a {
  text-decoration: none;
  margin: 0px auto;
  line-height: 50px;
  text-align: center;
}

.previewcell * {
  text-align: center !important;
}

/*Add border to preview image on Basket, Review, Accept pages*/
.previewcell img {
  border: 1px solid #ccc !important;
}

/* Remove sr_ error text from Basket, Review, Accept pages */
.previewcell pre {
  display: none;
}

.previewcell pre {
  display: none;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
}

#header-wrapper {
  border-bottom: 24px solid var(--color-primary-bg);
}

#header_logo {
  padding: 80px 0;
}

#header_logo > img.no_mobile {
  position: absolute;
  top: 3.5em;
  left: 25px;
  max-width: 350px;
  height: auto;
}

#header-links-container {
  position: absolute;
  top: 70px;
  right: 10%;
  text-transform: uppercase;
}

.header-links a {
  margin: 0px 15px;
  padding: 5px;
}
.header-links a:hover {
  padding: 5px;
}

#logout_userid {
  padding-left: 15px;
}

#footer\2e footercanceltext {
  padding-right: 15px;
}

.item-search-block {
  border-bottom: 4px solid #320900;
  padding-bottom: 8px;
}

.main,
.catalog,
form {
  /* height: 100vh; */
  height: max-content !important;
}

@media only screen and (min-width: 1025px) {
  div#all_items_view {
    float: none !important;
    margin: 0 auto;
    /* width: -webkit-fill-available !important; */
    min-height: 600px;
  }

  .stretchy_cols {
    min-width: auto !important;
    width: 300px !important;
    max-width: 24% !important;
  }

  .catalog {
    margin-top: 20px;
  }

  .responsive_tabs-shell {
    /* width: unset !important;
          border-collapse: collapse !important;
          border: 0px !important;
          font-family: inherit !important;
          padding: 0 0 0 7px !important;
          margin: 0px !important;
          max-width: 200px !important;
          background-color: transparent !important;
          vertical-align: top !important; */
    float: left !important;
    height: -webkit-fill-available;
  }

  .stretchy_cols,
  .responsive-choose-info {
    max-height: fit-content !important;
  }

  table.price-table.center {
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
  }

  .main-section {
    margin-top: 0px !important;
    text-align: center;
    margin-left: 10%;
  }

  .responsive_tabs .opened a,
  .responsive_tabs .closed a,
  .responsive_tabs div.off a,
  .responsive_tabs div.on a,
  .responsive_tabs .opened:before,
  .responsive_tabs .closed:before {
    display: block;
    /* padding: 10px 0; */
  }
}
